<!DOCTYPE html>
<html lang="en_US">
<head>
    <meta charset="UTF-8">
    <title>Instagram Heroku Bot - Status Page</title>
    
    <!--CSS-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--CSS-->
</head>
<body>
    
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/">
                    Heroku Instagram Bot
                </a>
            </div>
            
            <!--
            <div class="search">
                <input type="text" name="s" placeholder="Search..."/>
            </div>
            -->
            
            <div class="menu">
				<ul>
                    <li><a href="https://www.hayatikodla.com" class="active">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
	
	 <section class="profile-list">
        <div class="container">
            <h1 class="title">INSTALL PAGE</h1>
			<div class="col-lg-12 text-center">
				{% if install.status == 'nonInstall' %}
				<form action="/installed" method="post">
					
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Instagram Username" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="password" placeholder="Instagram Password" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="hashtag" placeholder="Instagram Hashtag e.g cat,dog,apple" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="antihashtag" placeholder="Instagram Blacklist Hashtag e.g porn,boobs" required>
					</div>
					<hr />
					<div class="form-group">
						<input type="text" class="form-control" name="license" placeholder="Hayatı Kodla License" required>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary pull-right" value="Install..."/>
					</div>
					
				</form>
				{% else %}
					<div class="alert alert-{{install.status}}">{{install.text}}</div>
					{% if install.status == 'success' %}
					<a href="/run" class="btn btn-success">RUN</a>
					{% else %}
					<a href="/install" class="btn btn-info">TRY AGAIN</a>
					{% endif %}
				{% endif %}
			</div>
        </div>
    </section>
	
	<script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/lightbox.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </body>
</html>